.autoql-vanilla-topics-container {
    margin: 5px 0;
}

.autoql-vanilla-chata-cascader {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}


.autoql-vanilla-chata-cascader .options-container {
    transition: max-width .3s ease;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    margin: 10px 0;
    width: 100%;
    max-width: calc(100% - 20px);
}


.autoql-vanilla-chata-cascader .options-container .option.active,
.autoql-vanilla-chata-cascader .options-container .option:hover {
    background: var(--chata-drawer-accent-color);
    color: #fff;
}


.autoql-vanilla-chata-cascader .options-container .option {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    padding: 4px 4px 4px 10px;
}


.autoql-vanilla-chata-cascader .options-container .option .option-arrow {
    opacity: .7;
    height: 1em;
    width: 1em;
    /* margin-bottom: -.1em; */
}

.autoql-vanilla-intro-qi-link {
    cursor: pointer;
    color: var(--chata-drawer-accent-color);
}
