.autoql-vanilla-chata-input-container .autoql-vanilla-chata-input-settings {
    border: 1px solid var(--autoql-vanilla-border-color) !important;
    background: inherit;
    line-height: 32px;
    min-height: 34px;
    padding: 0 10px;
    width: 100%;
    outline: none!important;
    -webkit-transition: border-color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease, color 0.2s ease;
    transition: border-color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease, color 0.2s ease;
    -webkit-transition-property: border-color,color,opacity;
    transition-property: border-color,color,opacity;
}

.autoql-vanilla-chata-input-container .chata-input-icon {
    position: absolute;
    left: 14px;
    top: 8px;
    -webkit-transition: border-color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease, color 0.2s ease;
    transition: border-color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease, color 0.2s ease;
}

.autoql-vanilla-chata-input-container .chata-input-icon svg {
    height: 17px;
    width: 17px;
}

.autoql-vanilla-chata-input-container {
    position: relative;
    margin: 2px 5px;
    display: inline-block;
}

.autoql-vanilla-chata-input-container .autoql-vanilla-chata-input-settings.area{
    overflow: auto;
    resize: vertical;
}
.autoql-vanilla-chata-input-container .autoql-vanilla-chata-input-settings.with-icon {
    padding-left: 38px;
}

.autoql-vanilla-dashboard-tile-input-container .dashboard-tile-left-input-container input{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: var(--autoql-vanilla-text-color-primary);
}

.autoql-vanilla-dashboard-tile-input-container .dashboard-tile-right-input-container input{
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    color: var(--autoql-vanilla-text-color-primary);
}

.autoql-vanilla-icon-blue{
    color: var(--autoql-vanilla-accent-color);
    fill: var(--autoql-vanilla-accent-color) !important;
}
