.grid {
  position: relative;
  width: 100%;
  background: transparent;
  border: 5px solid transparent;
}
.item {
  position: absolute;
  width: calc(50% - 10px);
  /* height: 100px; */
  margin: 5px;
  z-index: 1;
  resize: both;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
  cursor: pointer;
  background: #fff;
  color: rgb(64, 64, 64);
  font-family: var(--chata-dashboard-font-family), sans-serif;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
  padding: 25px;
}
.item.muuri-item-dragging .item-content,
.item.muuri-item-releasing .item-content {
  /* background: blue; */
}

.dashboard-tile-input-container {
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
}

.dashboard-tile-input-container .dashboard-tile-input.query {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dashboard-tile-input-container .dashboard-tile-input.query {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dashboard-tile-input-container .dashboard-tile-input {
    width: 0;
    padding: 12px !important;
    border: 1px solid rgb(0, 0, 0, 0.1);
    outline: none !important;
    color: #356f90 !important;
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important;
    -webkit-transition: width 0.3s ease !important;
    transition: width 0.3s ease !important;
    height: 10px !important;
    box-shadow: none !important;
}

.dashboard-tile-input-container .dashboard-tile-input:focus{
    width: 70%;
    border-bottom: none;
    border-color: #28a8e0 !important;
}

.dashboard-tile-input-container .dashboard-tile-input:hover{
    border-color: #28a8e0 !important;
}

.dashboard-tile-input-container .dashboard-tile-input.query {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dashboard-tile-input-container .dashboard-tile-input.title {
    border-left: none !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dashboard-tile-play-button {
    cursor: default;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    height: 33px;
}

.dashboard-tile-play-button svg {
    cursor: pointer;
    width: 20px;
    height: 33px;
    margin-left: 10px;
    color: #366f90;
}

.dashboard-tile-response-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
}

.dashboard-tile-response-wrapper.editing {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
}

.dashboard-tile-response-wrapper .dashboard-tile-response-container {
    height: 100%;
    width: 100%;
    padding-top: 21px;
    cursor: default;
    background: inherit;
}


.dashboard-tile-response-wrapper .dashboard-tile-response-container {
    height: 100%;
    width: 100%;
    padding-top: 21px;
    cursor: default;
    background: inherit;
}

.dashboard-tile-loading-container {
    display: -webkit-box;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.dashboard-tile-placeholder-text {
    color: rgba(0, 0, 0, 0.3);
}

.dashboard-tile-title-container .dashboard-tile-title {
    color: #356f90;
    font-weight: bold;
    font-size: 17px;
    text-align: left !important;
}

.dashboard-tile-title-divider {
    height: 2px;
    background: currentColor;
    width: 75px;
    margin-top: 8px;
    opacity: 0.07;
}
