body.autoql-vanilla-drawer-open-body {
    // This is required to disallow body scrolling through the DM overlay
    overflow: hidden;
}

.autoql-vanilla-drawer {
    position: fixed;
    z-index: 9999;
    transition: width 0s ease 0.3s, height 0s ease 0.3s, transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);

    // Disable scrolling in the child message elements while the main message container is being scrolled
    .autoql-vanilla-chata-scrollbox.ps--scrolling-y .autoql-vanilla-chat-single-message-container {
        pointer-events: none;
    }

    .autoql-vanilla-chat-single-message-container .autoql-vanilla-chata-response-content-container {
        height: 100% !important;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .autoql-vanilla-chat-header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        background: var(--autoql-vanilla-accent-color);
        box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
        flex-grow: 0;
        flex-shrink: 0;
        z-index: 2;
        word-wrap: break-word;
        align-items: center;
        color: var(--autoql-vanilla-text-color-accent);
        position: relative;
        z-index: 100000003;

        .chata-header-right-container,
        .chata-header-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 8px;

            .autoql-vanilla-chata-button {
                background: transparent;
                border: none;
                color: inherit;
                font-size: 20px;
                cursor: pointer;
                outline: none !important;
                display: flex;
                height: 100%;
                align-items: center;
                padding: 0 8px;
                margin: 0;

                &.autoql-vanilla-clear-all svg {
                    height: 21px;
                }

                &.close-action svg {
                    width: 27px;
                    height: 27px;
                }

                &.filter-locking-menu svg {
                    height: 24px;
                    padding-top: 1px;
                }

                svg {
                    box-sizing: content-box;
                    width: 25px;
                    height: 23px;
                }
            }
        }
    }

    .autoql-vanilla-chat-single-message-container {
        &.autoql-vanilla-chat-single-message-container-hidden {
            display: none !important;
        }

        &.response {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 6px 20px 3px 20px;
            transition: background-color 0.2s ease;
            position: relative;
            width: calc(100% - 20px);
            .autoql-vanilla-data-explorer-icon-with-text {
                color: var(--autoql-vanilla-accent-color);
                cursor: pointer;
                font-weight: 600;
            }
            .autoql-vanilla-chat-message-bubble-container {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                max-width: 100%;
                min-height: 0;
                flex: 1 1;

                &.autoql-vanilla-chat-message-bubble-container-text {
                    max-width: 100%;
                }

                .autoql-vanilla-chat-message-bubble {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    padding: 13px;
                    border-radius: 6px;
                    max-width: 100%;
                    word-wrap: break-word;
                    font-family: inherit;
                    font-size: 14px;
                    letter-spacing: 0.03em;
                    box-sizing: border-box;
                    box-shadow: var(--autoql-vanilla-box-shadow-1);
                    max-height: 400px;

                    &:first-child {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    &.autoql-vanilla-drawer-resizing {
        user-select: none;
        pointer-events: none;

        .autoql-vanilla-chart-content-container {
            visibility: hidden !important;
        }
    }

    .autoql-vanilla-drawer-mask {
        background: #000;
        opacity: 0;
        width: 100%;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), height 0s ease 0.3s;
        z-index: 9998;
    }

    .autoql-vanilla-page-switcher-shadow-container {
        position: absolute;
        background: transparent;
        overflow: hidden;

        .autoql-vanilla-page-switcher-container {
            box-shadow: -2px 0 8px var(--autoql-vanilla-box-shadow-color, rgba(0, 0, 0, 0.15));
            overflow: hidden;
            box-sizing: border-box;
            display: flex;
            pointer-events: all;

            .autoql-vanilla-data-messenger-tab {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 1;
                opacity: 1;
                font-size: 22px;
                text-align: center;
                transform: translate(0, 0);
                color: var(--autoql-vanilla-text-color-accent);
                background-color: var(--autoql-vanilla-accent-color);
                transition-property: background-color, color, transform, line-height, height, width, margin-right,
                    margin-top, margin-left, margin-bottom, z-index, opacity;
                transition-duration: 0.2s;
                cursor: pointer;

                &.autoql-vanilla-data-messenger-tab-hidden {
                    display: none;
                }

                &.autoql-vanilla-data-messenger-tab-active {
                    background: var(--autoql-vanilla-background-color-primary);
                    color: var(--autoql-vanilla-accent-color);
                    box-shadow: -2px 0px 8px 2px var(--autoql-vanilla-box-shadow-color, rgba(0, 0, 0, 0.15));
                    font-weight: bold;
                    position: relative;
                    z-index: 2;
                }

                &.autoql-vanilla-data-messenger-tab-active[data-tab='data-explorer'] {
                    background: var(--autoql-vanilla-background-color-secondary);
                }
            }
        }
    }

    .autoql-vanilla-data-messenger-tab-container {
        position: absolute;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }

    .autoql-vanilla-drawer-content-wrapper {
        position: absolute;
        background: transparent;
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
            opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), box-shadow 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        z-index: 9999;

        .autoql-vanilla-drawer-body {
            visibility: visible;
            opacity: 1;
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            top: 0;
            left: 0;
            background: var(--autoql-vanilla-background-color-primary);
            transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        }

        .autoql-vanilla-drawer-handle {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            visibility: visible;
            opacity: 1;
            z-index: 9999;
            transition: opacity 0.5s ease;
            overflow: hidden;
            width: 50px;
            height: 50px;
            border-radius: 50px !important;
            font-size: 26px;
            background-color: var(--autoql-vanilla-accent-color);
            color: var(--autoql-vanilla-text-color-accent);
            box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
            cursor: pointer;

            &.autoql-vanilla-drawer-handle-hidden {
                display: none;
            }

            .autoql-vanilla-chata-bubbles-icon {
                display: flex;
            }
        }
    }

    .autoql-vanilla-chat-message-toolbar-container {
        top: -30px;
        left: -10px;
        width: calc(100% + 20px);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        justify-content: space-between;
    }

    .autoql-vanilla-chat-single-message-container:hover {
        .autoql-vanilla-viz-toolbar,
        .autoql-vanilla-tile-toolbar.actions-toolbar {
            opacity: 1;
            visibility: visible;
        }

        .autoql-vanilla-chat-message-toolbar-container {
            opacity: 1;
            visibility: visible;
        }
    }

    .autoql-vanilla-chart-wrapper-queryoutput {
        flex: 1 1 100vh;
    }

    .autoql-vanilla-chata-drawer-resize-handle {
        position: absolute;
        background-color: transparent;
        z-index: 10000;
        transition: background-color 0.2s ease;
        width: 3px;
        height: 3px;

        &:hover {
            background-color: var(--autoql-vanilla-accent-color, transparent);
        }
    }

    .autoql-vanilla-watermark {
        color: var(--autoql-vanilla-text-color-placeholder);
        opacity: 0.7;
        text-align: center;
        font-size: 13px;
        font-family: sans-serif;
    }

    .autoql-vanilla-text-bar {
        display: flex;
        position: relative;
        align-items: center;
        padding: 10px;
        margin: 6px;

        &.autoql-vanilla-text-bar-with-icon input {
            padding-left: 46px;
        }

        input {
            margin: 0;
            width: 100%;
            padding-left: 20px;
            padding-right: 46px;
        }

        .autoql-vanilla-chat-bar-input-icon {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            left: 0;
            top: 0;
            width: 46px;
            height: 100%;
            font-size: 20px;
        }
        .autoql-vanilla-chat-bar-clear-icon {
            position: absolute;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            right: 0;
            top: 0;
            width: 50px;
            height: 100%;
            font-size: 20px;
            visibility: hidden;
            color: var(--autoql-vanilla-text-color-placeholder);
            cursor: pointer;

            &.autoql-vanilla-chat-bar-clear-icon-visible {
                visibility: visible;
            }
        }
        .autoql-vanilla-chat-voice-record-button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 24px;
            margin: 0;
            margin-left: 10px;
            font-size: 18px;
            line-height: 24px;
            outline: none !important;
            overflow: hidden;
            background: var(--autoql-vanilla-accent-color);
            color: var(--autoql-vanilla-text-color-primary);
            border: none;
            flex-shrink: 0;
            flex-grow: 0;
            user-select: none;
            cursor: pointer;

            img {
                height: 1em;
                width: 1em;
                pointer-events: none;
            }

            &.autoql-vanilla-chat-voice-record-button-listening {
                background: linear-gradient(-45deg, #ff471a 8%, #ff471aa1 18%, #ff471a 33%);
                background-size: 200% 200%;
                animation: pulse-gradient 1s ease-in infinite;
            }
        }
    }

    .autoql-vanilla-text-bar-animation {
        animation: 0.5s ease 0s 1 normal none running slideDown;
    }

    .autoql-vanilla-explore-queries-input {
        margin: 10px 0;
    }

    @keyframes pulse-gradient {
        to {
            background-position-x: -200%;
            background-position-y: -200%;
        }
    }

    // ************************** DRAWER OPEN STYLES ************************* //
    &.autoql-vanilla-drawer-open {
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);

        .autoql-vanilla-drawer-content-wrapper .autoql-vanilla-drawer-handle {
            pointer-events: none;
            opacity: 0;
        }

        .autoql-vanilla-drawer-mask:not(.autoql-vanilla-drawer-mask-hidden) {
            opacity: 0.3;
            height: 100%;
            transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        }

        &.autoql-vanilla-drawer-right,
        &.autoql-vanilla-drawer-left {
            .autoql-vanilla-drawer-content-wrapper {
                transform: translateX(0px);
            }
        }

        &.autoql-vanilla-drawer-top,
        &.autoql-vanilla-drawer-bottom {
            .autoql-vanilla-drawer-content-wrapper {
                transform: translateY(0px);
            }
        }
    }

    // ************************** DRAWER CLOSED STYLES ************************* //
    &.autoql-vanilla-drawer:not(.autoql-vanilla-drawer-open) {
        .autoql-vanilla-drawer-content-wrapper {
            box-shadow: none;
        }
        .autoql-vanilla-drawer-body {
            pointer-events: none;
            opacity: 0;

            div,
            span {
                visibility: hidden;
                pointer-events: none;
                opacity: 0;
            }
        }
    }

    // ************************** DRAWER PLACEMENT STYLES ************************* //
    &.autoql-vanilla-drawer-left,
    &.autoql-vanilla-drawer-right {
        width: 0%;
        height: 100%;

        &.autoql-vanilla-drawer-open {
            width: 100%;
        }

        .autoql-vanilla-drawer-content-wrapper {
            height: 100%;
            max-width: calc(100% - 40px);
        }

        .autoql-vanilla-chata-drawer-resize-handle {
            height: 100%;
            cursor: ew-resize;
        }
    }

    &.autoql-vanilla-drawer-top,
    &.autoql-vanilla-drawer-bottom {
        height: 0%;
        width: 100%;

        &.autoql-vanilla-drawer-open {
            height: 100%;
        }

        .autoql-vanilla-drawer-content-wrapper {
            width: 100%;
            max-height: 100%;
        }

        .autoql-vanilla-chata-drawer-resize-handle {
            width: 100%;
            cursor: ns-resize;
        }
    }

    // ***** RIGHT ***** //
    &.autoql-vanilla-drawer-right {
        top: 0;
        right: 0;

        .autoql-vanilla-drawer-content-wrapper {
            right: 0;
            transform: translateX(100%);
        }

        .autoql-vanilla-drawer-handle {
            top: 55px;
            left: -70px;
        }

        .autoql-vanilla-chata-drawer-resize-handle {
            top: 0;
            left: -3px;
        }

        .autoql-vanilla-data-messenger-tab-container {
            height: 100vh;
            width: 60px;
            left: -60px;
            top: 0;

            .autoql-vanilla-page-switcher-shadow-container {
                top: 80px;
                width: 60px;

                .autoql-vanilla-page-switcher-container {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    margin-top: 20px;
                    margin-left: 20px;
                    margin-bottom: 20px;
                    flex-direction: column;

                    .autoql-vanilla-data-messenger-tab {
                        &:not(.autoql-vanilla-data-messenger-tab-active) {
                            box-shadow: inset -18px 0px 8px -10px
                                var(--autoql-vanilla-box-shadow-color, rgba(0, 0, 0, 0.15));
                        }

                        height: 65px;
                    }
                }
            }
        }
    }

    // ***** LEFT ***** //
    &.autoql-vanilla-drawer-left {
        left: 0;
        top: 0;

        .autoql-vanilla-drawer-content-wrapper {
            left: 0;
            transform: translateX(-100%);
        }

        .autoql-vanilla-drawer-handle {
            top: 55px;
            right: -70px;
        }

        .autoql-vanilla-chata-drawer-resize-handle {
            top: 0;
            right: -3px;
        }

        .autoql-vanilla-data-messenger-tab-container {
            height: 100vh;
            width: 60px;
            right: -60px;
            top: 0;

            .autoql-vanilla-page-switcher-shadow-container {
                top: 80px;
                width: 60px;

                .autoql-vanilla-page-switcher-container {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    margin-top: 20px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    margin-left: -5px;
                    flex-direction: column;

                    .autoql-vanilla-data-messenger-tab {
                        &:not(.autoql-vanilla-data-messenger-tab-active) {
                            box-shadow: inset 18px 0px 8px -10px var(--autoql-vanilla-box-shadow-color, rgba(0, 0, 0, 0.15));
                        }

                        height: 65px;
                    }
                }
            }
        }
    }

    // ***** TOP ***** //
    &.autoql-vanilla-drawer-top {
        top: 0;
        left: 0;

        .autoql-vanilla-drawer-content-wrapper {
            top: 0;
            transform: translateY(-100%);
        }

        .autoql-vanilla-drawer-handle {
            bottom: -70px;
            left: calc(50% - 20px);
        }

        .autoql-vanilla-chata-drawer-resize-handle {
            bottom: -3px;
            left: 0;
        }

        .autoql-vanilla-data-messenger-tab-container {
            width: 100vh;
            height: 60px;
            bottom: -60px;
            left: 0;

            .autoql-vanilla-page-switcher-shadow-container {
                left: 80px;
                height: 60px;

                .autoql-vanilla-page-switcher-container {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    margin-right: 20px;
                    margin-left: 20px;
                    margin-bottom: 20px;
                    flex-direction: row;
                    height: 40px;

                    .autoql-vanilla-data-messenger-tab {
                        &:not(.autoql-vanilla-data-messenger-tab-active) {
                            box-shadow: inset 0px 12px 8px -10px var(--autoql-vanilla-box-shadow-color, rgba(0, 0, 0, 0.15));
                        }

                        width: 65px;
                    }
                }
            }
        }
    }

    // ***** BOTTOM ***** //
    &.autoql-vanilla-drawer-bottom {
        bottom: 0;
        left: 0;

        .autoql-vanilla-drawer-content-wrapper {
            bottom: 0;
            transform: translateY(100%);
        }

        .autoql-vanilla-drawer-handle {
            top: -70px;
            left: calc(50% - 20px);
        }

        .autoql-vanilla-chata-drawer-resize-handle {
            top: -3px;
            left: 0;
        }

        .autoql-vanilla-data-messenger-tab-container {
            width: 100vh;
            height: 60px;
            top: -60px;
            left: 0;

            .autoql-vanilla-page-switcher-shadow-container {
                left: 80px;
                height: 60px;

                .autoql-vanilla-page-switcher-container {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    margin-top: 20px;
                    margin-left: 20px;
                    margin-right: 20px;
                    flex-direction: row;
                    height: 40px;

                    .autoql-vanilla-data-messenger-tab {
                        &:not(.autoql-vanilla-data-messenger-tab-active) {
                            box-shadow: inset 0px -17px 8px -10px
                                var(--autoql-vanilla-box-shadow-color, rgba(0, 0, 0, 0.15));
                        }

                        width: 65px;
                    }
                }
            }
        }
    }
}
.autoql-vanilla-icon {
    vertical-align: middle !important;
}
.autoql-vanilla-response-loading-container {
    display: flex;
    position: absolute;
    top: 0px;
    left: 20px;
}

.autoql-vanilla-response-loading {
    display: inline-block;
    position: relative;
    height: 12px;
    width: 64px;

    div {
        position: absolute;
        top: 0;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #e2e2e2;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) {
            left: 6px;
            animation: response-loading1 0.6s infinite;
        }
        &:nth-child(2) {
            left: 6px;
            animation: response-loading2 0.6s infinite;
        }
        &:nth-child(3) {
            left: 26px;
            animation: response-loading2 0.6s infinite;
        }
        &:nth-child(4) {
            left: 45px;
            animation: response-loading3 0.6s infinite;
        }
    }
}
