.autoql-vanilla-notification-content-container {
  .autoql-vanilla-notification-error-message-container {
    text-align: center;
    padding: 30px;
    border-top: 1px solid var(--autoql-vanilla-background-color-primary);
    font-size: 14px;
    line-height: 1.5;
    .autoql-vanilla-notification-error-reinitialize-btn{
      margin: 20px;
      .autoql-vanilla-icon {
        margin-right: 6px;
      }
      &.restart-success {
        background-color: var(--autoql-vanilla-success-color);
        border: none;
        color: #fff;
        pointer-events: none;
        cursor: default;
      }
    }
  }
}