.autoql-vanilla-select-popup {
  box-shadow: 0 0 8px var(--autoql-vanilla-box-shadow-color,rgba(0,0,0,.15));
  background-color: var(--autoql-vanilla-background-color-secondary);
  border: 1px solid hsla(0,0%,67.1%,.3215686274509804);
  border-radius: 4px;
  display: flex;
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  font-family: var(--autoql-vanilla-font-family);
  font-size: 14px;
  visibility: hidden;
  border-color: red;
  .autoql-vanilla-confirm-popover-content {
    padding: 10px;
    flex: 1 1;
    .autoql-vanilla-confirm-popover-title {
      display: flex;
      align-items: center;
      padding: 10px;
      margin-bottom: 8px;
      font-size: 15px;
      min-width: 200px;
      color: var(--autoql-vanilla-text-color-primary);
    }
    .autoql-vanilla-confirm-popover-button-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
    }
  }
}