.autoql-vanilla-drawer-resizing {
    .autoql-vanilla-chart-content-container {
        visibility: hidden !important;
    }
}

.autoql-vanilla-chata-chart-container {
    height: 100vh;
    width: 100vw;
    max-height: 100% !important;
    max-width: 100% !important;
    display: block;

    text {
        stroke: transparent;
    }

    .autoql-vanilla-stacked-rect,
    .autoql-vanilla-heatmap-rect,
    .autoql-vanilla-chart-bar {
        stroke-width: 0;
        stroke-opacity: 0;
        transition: fill-opacity 0.2s ease;
        cursor: pointer;

        &:hover {
            fill-opacity: 0.7 !important;
        }
    }

    .legend-hidden-field-arrow {
        outline: none !important;
    }

    .autoql-vanilla-chart-legend {
        .legendCells {
            .cell {
                &.hidden {
                    text {
                        color: var(--autoql-vanilla-background-disabled);
                        opacity: 0.4 !important;
                    }
                    line.swatch,
                    path.swatch {
                        fill: var(--autoql-vanilla-background-color-disabled) !important;
                        stroke: var(--autoql-vanilla-background-color-disabled) !important;
                    }
                }

                &:hover path.swatch {
                    stroke-width: 2px;
                }
                &:hover line.swatch {
                    stroke-width: 3px;
                }

                text:hover {
                    font-weight: 600;
                }
            }
        }

        path.swatch {
            outline: none !important;
            fill-opacity: 1;
            &:hover,
            &.active {
                fill-opacity: 0.7;
            }
        }
        line.swatch {
            stroke-width: 2px;
            outline: none !important;
            &:hover,
            &.active {
                stroke-width: 3px;
            }
        }
    }

    .autoql-vanilla-axes {
        g.tick {
            text {
                fill: currentcolor;
                fill-opacity: 1;
                font-family: inherit;
                stroke-opacity: 0;
                stroke-width: 0;
                cursor: default;
            }
            line {
                color: currentColor;
                shape-rendering: crispedges;
            }
            path {
                stroke-width: 0;
            }
        }
    }

    .autoql-vanilla-axis-title {
        stroke-opacity: 0;
        stroke-width: 0;
        font-weight: 600;
        font-size: inherit;
        font-family: inherit;
        fill: inherit;
        fill-opacity: inherit;
        letter-spacing: inherit;
        cursor: inherit;

        .autoql-vanilla-axis-selector-arrow {
            opacity: 1 !important;
        }
    }

    .autoql-vanilla-chart-selector,
    .autoql-vanilla-chart-row-selector {
        font-size: 12px;
        stroke-width: 0;
        stroke: transparent;

        .autoql-vanilla-chata-axis-selector-arrow {
            opacity: 1 !important;
        }
    }

    .autoql-vanilla-axis-selector-box,
    .autoql-vanilla-chart-row-selector-box {
        stroke: transparent;
        fill: transparent;
        stroke-width: 1px;
        opacity: 0.5;
        transition: stroke 0.2s ease;
        z-index: 3;
        opacity: 1 !important;
        cursor: pointer;

        &.autoql-vanilla-axis-selector-box-hidden {
            stroke: transparent !important;
            pointer-events: none !important;
        }

        &:hover {
            stroke: var(--autoql-vanilla-accent-color);
        }
    }

    .autoql-vanilla-axis {
        g.tick {
            text {
                cursor: default;
            }

            line {
                opacity: 1;
                pointer-events: none;
            }
        }
    }
}

.autoql-vanilla-axis-selector-container {
    .autoql-vanilla-chata-list-item {
        .autoql-vanilla-select {
            font-weight: 600;
            font-size: 12px;
            height: 26px;
            line-height: 25px;
            padding: 0 8px !important;
            margin-right: 10px;
        }
    }

    .number-selector-header {
        margin-top: 10px;
        font-size: 12px;
        padding: 0 18px 7px;
        font-weight: 600;
    }
}

.autoql-vanilla-chata-col-selector-name {
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.autoql-vanilla-chata-series-popover-header-wrapper{
	display: flex;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 15px;
    font-size: 12px;
    line-height: 28px;
    background: rgba(0, 0, 0, 0.03);
}
.autoql-vanilla-chata-list-item {
    display: flex;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 25px;
    padding-right: 15px;
    font-size: 12px;
    line-height: 28px;

    &:hover {
        background: rgba(0, 0, 0, 0.03);
    }

    &:not(:last-child) {
        border-bottom: 1px solid hsla(0, 0%, 82.7%, 0.29);
    }
}
