{
    "arrowParens": "always",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "bracketSpacing": true
}
