.autoql-vanilla-data-alert-setting-section{
  padding: 10px 0;
  .autoql-vanilla-data-alert-setting-section-title{
    margin: 5px 5px 10px;
    font-size: 15px;
    font-weight: 600;
  }

  .autoql-vanilla-input-label{
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    margin: 0;
    font-size: .9em;
    color: var(--autoql-vanilla-text-color-primary);
    opacity: .8;
    white-space: nowrap;
    text-align: left;
  }

  .autoql-vanilla-select-and-label {
    position: relative;
    padding: 2px 5px;
    width: 100%;
    margin-top: 10px;
  }

  .autoql-vanilla-data-alerts-container{
    .autoql-vanilla-rule-input{
      .autoql-vanilla-data-alert-rule-query-readonly-container{
        .autoql-vanilla-input-full-width {
          width: 100%;
          display: flex;
        }
        .autoql-vanilla-input-and-label-container {
          position: relative;
          padding: 2px 5px;
          display: inline-flex;
          flex-direction: column;
          width: 100%;
          .autoql-vanilla-input-container {
            position: relative;
            display: inline-flex;
            flex-direction: row;
            width: 100%;
            .autoql-vanilla-input-and-icon{
              flex: 1 1;
              .autoql-vanilla-input {
                border: 1px solid var(--autoql-vanilla-border-color);
                border-radius: 4px;
                background: inherit;
                width: 100%;
                font-size: inherit;
                font-family: inherit;
                outline: none!important;
                transition-property: color,border-color,background-color,opacity;
                transition-duration: .3s;
                transition-timing-function: ease;
                padding: 10px;
                line-height: 1em;
              }
              .autoql-vanilla-input:not(textarea) {
                padding: 0 10px;
                height: 32px;
                &.autoql-vanilla-input:disabled {
                  background: var(--autoql-vanilla-hover-color);
                  border-color: var(--autoql-vanilla-border-color)!important;
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }
  }
}