.autoql-vanilla-data-alert-setting-section {
    padding: 10px 0;
    .autoql-vanilla-data-alert-setting-section-title {
        margin: 5px 5px 10px;
        font-size: 15px;
        font-weight: 600;
    }

    .autoql-vanilla-condition-select {
        padding: 0;
    }

    .autoql-rule-second-input-container {
        display: inline-flex;

        .autoql-vanilla-rule-input {
            .autoql-vanilla-input-and-label-container {
                padding: 1px 0px;
            }
        }
    }

    .autoql-vanilla-rule-input {
        display: inline-flex;
        flex: 1 1;

        .autoql-vanilla-input-and-label-container {
            .autoql-vanilla-input-number {
                .autoql-vanilla-select {
                    border-right: none;
                    border-radius: 4px 0 0 4px;
                }
            }
        }
    }
}
