.chata-modal {
    .chata-modal-body{
        .autoql-vanilla-confirm-title {
            margin-top: 20px;
            margin-bottom: 20px;
            color: rgba(0,0,0,.85);
            font-weight: 700;
        }
        p {
            margin-bottom: 1em;
        }
    }
}
