.autoql-vanilla-input-toolbar{
    position: absolute;
    top: 4px;
    left: 7px;
    bottom: unset;
    height: 43px;
}

.autoql-vanilla-input-toolbar-btn{
    padding-left: 3px;
    margin-right: 10px;
}

.autoql-vanilla-dashboard-tile-input.second.query.open {
    padding: 12px;
    margin-left: 5px;
    border: 1px solid rgba(0,0,0,.1);
    pointer-events: unset;
}

.autoql-vanilla-input-toolbar-arrow{
    position: absolute;
    top: 5px;
    left: 31px;
    font-size: 10px;
}

.autoql-vanilla-dashboard-tile-input.second.query.open {
    padding: 12px;
    margin-left: 5px;
    border: 1px solid rgba(0,0,0,.1);
    pointer-events: unset;
}

.autoql-vanilla-dashboard-tile-input.second.query {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid transparent;
    outline: none!important;
    color: var(--autoql-vanilla-text-color-primary) !important;
    background: var(--autoql-vanilla-background-color-primary) !important;
    margin: 0;
    padding: 0;
    width: 0;
    height: 27px;
    pointer-events: none;
}
