* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.autoql-vanilla-chata-dashboard *, .autoql-vanilla-chata-dashboard *:before, .autoql-vanilla-chata-dashboard *:after{
    box-sizing: border-box !important;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}


.autoql-vanilla-dashboard-container{
    background: var(--autoql-vanilla-background-color-secondary);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bar:focus,
.circle:focus,
.square:focus,
.pie-slice:focus,
.line-dot:focus,
.stacked-rect:focus {
    outline: none !important;
    border-color: transparent !important;
    border-width: 0px !important;
    opacity: 1;
    fill-opacity: 1;
}
