* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.autoql-vanilla-chata-dashboard *, .autoql-vanilla-chata-dashboard *:before, .autoql-vanilla-chata-dashboard *:after{
    box-sizing: border-box !important;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}


.autoql-vanilla-dashboard-container{
    background: var(--autoql-vanilla-background-color-secondary);
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 200px;
}

.bar:focus,
.circle:focus,
.square:focus,
.pie-slice:focus,
.line-dot:focus,
.stacked-rect:focus {
    outline: none !important;
    border-color: transparent !important;
    border-width: 0px !important;
    opacity: 1;
    fill-opacity: 1;
}

.empty-dashboard-message-container {
    font-family: var(--autoql-vanilla-font-family);
    color: var(--autoql-vanilla-text-color-primary);
    letter-spacing: .02em;
    text-align: center;
    padding: 100px;
    height: 100%;
    width: 100%;
}

.empty-dashboard-new-tile-btn {
    color: var(--autoql-vanilla-accent-color);
    font-weight: 700;
    cursor: pointer;
}
