.col-visibility-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
    color: var(--autoql-vanilla-text-color-primary);

}

.col-visibility-line-item:not(:last-child) {
    border-bottom: 1px solid hsla(0,0%,82.7%,.29);
}

.col-visibility-line-item {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: var(--autoql-vanilla-text-color-primary);
}


.m-checkbox {
    display: flex !important;
    align-items: center !important;
    padding: .2rem !important;
    font-weight: normal !important;
    box-sizing: content-box !important;
}

.chata-modal-container .autoql-vanilla-m-checkbox__input {
    border-color: var(--autoql-vanilla-accent-color);
    box-sizing: border-box !important;
    padding: 0 !important;
    opacity: 1 !important;
}

.autoql-vanilla-m-checkbox__input {
    position: relative !important;
    flex-shrink: 0 !important;
    width: 20px !important;
    height: 20px !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    outline: none !important;
    background: transparent !important;
    cursor: pointer !important;
    border: 1px solid #5dceee !important;
    border-radius: 3px !important;
    font-size: 13.3333px;
    line-height: 36px !important;
    overflow: auto !important;
    pointer-events: all !important;
}

.autoql-vanilla-m-checkbox__input.force-margin{
    margin: 0px !important;
}

.chata-drawer .autoql-vanilla-m-checkbox__input:before, .chata-modal-container .autoql-vanilla-m-checkbox__input:before {
    background: var(--autoql-vanilla-accent-color) !important;
}

.autoql-vanilla-m-checkbox__input:before {
    content: " " !important;
    position: absolute !important;
    top: 50% !important;
    right: 50% !important;
    bottom: 50% !important;
    left: 50% !important;
    -webkit-transition: all .1s !important;
    transition: all .1s !important;
    cursor: pointer !important;
}

.autoql-vanilla-m-checkbox__input:checked{
    border-color: var(--autoql-vanilla-accent-color,#26a7df) !important;
}

.autoql-vanilla-m-checkbox__input:checked + .autoql-vanilla-chata-checkbox-tick{
    color: #fff;
}

.autoql-vanilla-m-checkbox__input:checked:before, .autoql-vanilla-m-checkbox__input:indeterminate:before {
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    background: var(--autoql-vanilla-accent-color, #26a7df);
}

.autoql-vanilla-chata-checkbox-tick {
    position: absolute;
    color: transparent;
    top: 0px;
    left: 3px;
    line-height: 20px !important;
    pointer-events: none;
}
