.autoql-vanilla-data-explorer-intro-message {
  color: var(--autoql-vanilla-text-color-primary);
  text-align: center;
  margin: 50px auto;
  padding: 0 40px;
  font-size: 15px;
  min-height: 0;
  flex: 1 1;

  h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: var(--autoql-vanilla-text-color-primary);
    .autoql-vanilla-icon {
      margin-left: 5px;
    }
  }

  p {
    margin-bottom: 1em;
  }

  .autoql-vanilla-icon {
    margin-right: 5px;
    vertical-align: middle;
  }
}