.autoql-vanilla-filter-locking-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 7px 0px !important;
    color: var(--autoql-vanilla-text-color-primary);
    background-color: var(--autoql-vanilla-background-color-secondary);
    transition: background-color 0.3s ease, color 0.3s ease;

    &.autoql-vanilla-highlighted-filter {
        background-color: var(--autoql-vanilla-accent-color);
        color: #fff;

        .autoql-vanilla-condition-table-list-item,
        .autoql-vanilla-remove-condition-button {
            color: #fff;
        }
    }
}

.autoql-vanilla-condition-table-list-item {
    margin-right: 25px !important;
    max-width: 350px;
    font-family: var(--autoql-vanilla-font-family);
    font-size: 14px;
}

.autoql-vanilla-remove-condition-button {
    font-size: 13px;
    cursor: pointer;

    .autoql-vanilla-clear-all {
        vertical-align: middle;
    }

    &:hover {
        color: var(--autoql-vanilla-danger-color);
    }
}

.autoql-vanilla-slider-wrapper {
    margin-right: 25px !important;
}
