.autoql-vanilla-filter-list-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 4px;
}

.autoql-vanilla-filter-lock-category-title{
    padding-right: 10px;
    padding-top: 1px;
    max-width: 195px;
    overflow: hidden;
    color: var(--autoql-vanilla-text-color-primary);
    font-family: var(--autoql-vanilla-font-family);
    font-size: 14px !important;
}

.autoql-vanilla-filter-list-title h4 {
    margin-top: 3px;
    color: var(--autoql-vanilla-text-color-primary);
}
