.autoql-vanilla-reverse-translation-container {
    color: var(--autoql-vanilla-text-color-primary);
    background-color: transparent;
    border-radius: 5px;
    padding: 4px 6px !important;
    min-height: 26px;
    min-width: 300px;
}

.autoql-vanilla-reverse-translation-container {
    span {
        line-height: 22px;
        letter-spacing: 0.03em;
    }

    svg {
        vertical-align: middle;
        font-size: 16px;
        margin: 0px !important;
        padding: 0px !important;
        height: unset !important;
    }

    .autoql-vanilla-condition-link {
        background: none !important;
        border: none;
        padding: 0 !important;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        color: var(--autoql-vanilla-accent-color) !important;

        svg {
            stroke-width: 0.04em;
            vertical-align: text-top;
            font-size: 14px;
        }
    }

    .autoql-vanilla-reverse-translation-icon svg {
        margin-bottom: 3px !important;
    }
}
