.autoql-vanilla-tile-response-loading-container {
    display: flex;
}

.autoql-vanilla-dashboard-tile-placeholder-text {
    color: var(--autoql-vanilla-text-color-placeholder);
    font-size: 15px;
    font-family: var(--autoql-vanilla-font-family), sans-serif;
}

.autoql-vanilla-tile-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 8px 15px 20px 15px;

    .autoql-vanilla-chart-wrapper {
        height: 100%;
        width: 100%;
    }
}

.autoql-vanilla-tile-response-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .autoql-vanilla-chata-response-content-container {
        height: 100% !important;
    }

    &.autoql-vanilla-tile-response-wrapper-second {
        .autoql-vanilla-tile-toolbar {
            left: 54;
        }
    }
}

.autoql-vanilla-dashboard-toolbar-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    pointer-events: none;

    padding: 5px;
    width: 100%;
    bottom: 0;

    .autoql-vanilla-dashboard-toolbar-container-left,
    .autoql-vanilla-dashboard-toolbar-container-right {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
}

.autoql-vanilla-tile-chart-container {
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    color: var(--autoql-vanilla-text-color-primary);
}

.autoql-vanilla-single-value-response {
    font-size: 32px;
    margin-top: -6px;
    color: var(--autoql-vanilla-text-color-primary);
}

.gutter {
    height: 1px !important;
    background: var(--autoql-vanilla-border-color);
    opacity: 0.9;
    pointer-events: none;
}
.gutter.gutter-vertical {
    cursor: row-resize;
    pointer-events: none;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.autoql-vanilla-chata-dashboard-item.editing .autoql-vanilla-dashboard-tile-response-wrapper .gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    border-top: 3px solid #c0c0c0;
    pointer-events: all;
}

.autoql-vanilla-tile-response-wrapper .autoql-vanilla-single-value-response:hover {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    color: var(--autoql-vanilla-text-color-primary);
}

.autoql-vanilla-query-output-error-message {
    font-size: 14px;
}

.autoql-vanilla-chata-icon .play-icon {
    vertical-align: bottom;
    line-height: 20px;
}

.autoql-vanilla-suggestions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.autoql-vanilla-suggestion-message {
    color: var(--autoql-vanilla-text-color-placeholder);
}
