.autoql-vanilla-tile-toolbar .autoql-vanilla-chata-toolbar-btn {
    height: 28px;
    width: 28px;
    background: none;
    border: none;
    font-size: 16px;
    line-height: 28px;
    vertical-align: top;
    color: var(--autoql-vanilla-accent-color, #28a8e0);

    cursor: pointer;
    outline: none!important;
}

.autoql-vanilla-tile-toolbar.first{
    bottom: 7px;
}

.autoql-vanilla-tile-toolbar.first.is-split{
    left: 7px;
}

.autoql-vanilla-tile-toolbar{
    z-index: 1000;
    background: var(--autoql-vanilla-background-color-primary);

    padding: 5px;
    border-radius: 6px;
    line-height: 28px;
    z-index: 10;
    border: 1px solid hsla(0,0%,82.7%,.32);
    position: absolute;
    bottom: 2px;
    left: 54px;
    -webkit-transition: opacity .3s ease,color .3s ease;
    transition: opacity .3s ease,color .3s ease;
    visibility: hidden;
    opacity: 0;
}

.autoql-vanilla-chata-icon svg {
    height: 1em;
    margin-bottom: -.1em;
}

.autoql-vanilla-chata-dashboard-item.editing:hover .autoql-vanilla-tile-toolbar{
    visibility: visible;
    opacity: 1;
}

.autoql-vanilla-split-view-btn {
    bottom: 7px;
    left: 7px;
}
