.autoql-vanilla-chata-table .tabulator-tableHolder .tabulator-table{
    color: var(--autoql-vanilla-text-color-primary);
}

.autoql-vanilla-chata-table .tabulator-header{
    color: var(--autoql-vanilla-text-color-primary);
    border-bottom: 2px solid var(--autoql-vanilla-border-color);
}

.autoql-vanilla-chata-table .tabulator-row {
    border-bottom: 1px solid var(--autoql-vanilla-border-color) !important;
}

.autoql-vanilla-chata-table .tabulator-row .tabulator-cell{
    border-right: 1px solid var(--autoql-vanilla-border-color);
}

.autoql-vanilla-chata-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=asc] .tabulator-col-content .tabulator-arrow, .autoql-vanilla-chata-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=none] .tabulator-col-content .tabulator-arrow {
    border-bottom: 4px solid rgba(0,0,0,.2)!important;
}

.autoql-vanilla-chata-table.tabulator .tabulator-header .tabulator-col:hover .tabulator-col-content .tabulator-arrow {
    opacity: 1!important;
}
.autoql-vanilla-chata-table.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
    opacity: 0;
    border-left: 4px solid transparent!important;
    border-right: 4px solid transparent!important;
    right: 4px;
    top: calc(50% - 3px);
}

.autoql-vanilla-chata-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=desc] .tabulator-col-content .tabulator-arrow {
    border-top: 4px solid rgba(0,0,0,.2)!important;
}
.autoql-vanilla-chata-table.tabulator .tabulator-header .tabulator-col:hover .tabulator-col-content .tabulator-arrow {
    opacity: 1!important;
}


.autoql-vanilla-chata-table .tabulator-tableHolder::-webkit-scrollbar {
    display: unset;
    opacity: 0;
    background-color: var(--autoql-vanilla-background-color-primary);
    width: 7px;
    height: 7px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.autoql-vanilla-chata-table.no-drilldown .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell{
    cursor: auto;
}

.autoql-vanilla-chata-table.no-drilldown .tabulator-tableHolder .tabulator-table .tabulator-row{
    cursor: default !important;
}

.autoql-vanilla-chata-table .tabulator-tableHolder::-webkit-scrollbar-corner, .autoql-vanilla-chata-table .tabulator-tableHolder::-webkit-scrollbar-track, .autoql-vanilla-chata-table .tabulator-tableHolder::-webkit-scrollbar-track-piece{
    background-color: var(--autoql-vanilla-background-color-primary);
}

.autoql-vanilla-chata-table .tabulator-tableHolder:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    border-radius: 7px;
    border: 0;
}

.autoql-vanilla-chata-table .tabulator-header-filter input:focus {
    border: 1px solid var(--autoql-vanilla-accent-color) !important;
    box-shadow: none !important;
}
.autoql-vanilla-chata-table .tabulator-header-filter input {
    border: 1px solid var(--autoql-vanilla-border-color) !important;
    border-radius: 4px !important;
    background: transparent;
    padding: 4px 9px!important;
    outline: none!important;
    height: 30px !important;
    font-size: 14px !important;
    font-weight: normal;
    color: var(--autoql-vanilla-text-color-primary);
}

.autoql-vanilla-chata-table .tabulator-col {
    height: auto!important;
}

.autoql-vanilla-chata-table .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-frozen.tabulator-frozen-left,
.autoql-vanilla-chata-table .tabulator-header .tabulator-frozen.tabulator-frozen-left {
    border-right: 2px solid #ddd;
    background: var(--autoql-vanilla-background-color-primary);
    cursor: default;
}

.autoql-vanilla-chata-table .tabulator-header .tabulator-col.tabulator-sortable:hover, .react-autoql-table.tabulator .tabulator-row.tabulator-selectable:hover,
.autoql-vanilla-chata-table .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-frozen.tabulator-frozen-left:hover {
    background-color: var(--autoql-vanilla-hover-color)!important;
}

.autoql-vanilla-chata-table .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-selectable:hover {
    background-color: var(--autoql-vanilla-hover-color)!important;
    cursor: pointer;
}

.tabulator .tabulator-header{
    background: var(--autoql-vanilla-background-color-primary);
}

.autoql-vanilla-filter-tag {
    color: #2ecc40;
}

.autoql-vanilla-filter-tag {
    border: 1px solid;
    padding: 2px 4px !important;
    border-radius: 4px;
    font-weight: 400;
    font-size: 10px;
    margin-right: 5px !important;
    vertical-align: top;
    line-height: 21px;
}

.autoql-vanilla-chat-message-bubble .autoql-vanilla-chata-response-content-container .autoql-vanilla-chata-table-scrollbox .autoql-vanilla-chata-table-container .autoql-vanilla-chata-table .tabulator-tableHolder{
    height: calc(100% - 40px) !important;
    min-height: calc(100% - 40px) !important;
    max-height: calc(100% - 40px) !important;
}
