.autoql-vanilla-chata-table-container {
    height: 100%;
    background-color: inherit;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .tabulator-alert {
        display: none !important;
    }

    .autoql-vanilla-chata-table {
        max-height: 100%;
        max-width: 100%;

        &.tabulator {
            border: none;
            background: var(--autoql-vanilla-background-color-secondary);
            margin-bottom: 0;

            .tabulator-tableholder .tabulator-table .tabulator-row .tabulator-frozen.tabulator-frozen-left,
            .tabulator-header .tabulator-frozen.tabulator-frozen-left {
                border-right: 2px solid var(--autoql-vanilla-table-border-color);
                cursor: default;
            }

            .tabulator-row,
            .tabulator-header,
            .tabulator-headers,
            .tabulator-header .tabulator-col,
            .tabulator-tableholder .tabulator-table {
                background-color: inherit;
                color: inherit;
            }

            &:not(.no-drilldown) .tabulator-tableholder .tabulator-table .tabulator-row .tabulator-cell {
                cursor: pointer;
                &:hover {
                    color: var(--autoql-vanilla-accent-color);
                }
            }

            &.is-filtering {
                .tabulator-tableholder {
                    max-height: calc(100% - 60px) !important;
                    min-height: calc(100% - 60px) !important;
                    height: calc(100% - 60px) !important;
                }

                .tabulator-header-content {
                    min-height: 60px !important;
                    max-height: 60px !important;
                    height: 60px !important;

                    input {
                        visibility: visible;
                    }
                }
            }

            &:not(.is-filtering) {
                .tabulator-tableholder {
                    height: calc(100% - 32px) !important;
                    min-height: calc(100% - 32px) !important;
                    max-height: calc(100% - 32px) !important;
                }

                .tabulator-header {
                    max-height: 32px;
                    height: 32px;

                    input {
                        visibility: hidden;
                    }
                }

                .tabulator-col-content.is-filtered .tabulator-col-title:before {
                    opacity: 1;
                }
            }

            .autoql-vanilla-input-clear-btn {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 12px;
                width: 12px;
                right: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                color: var(--autoql-vanilla-background-color-secondary);
                background: var(--autoql-vanilla-text-color-placeholder);
                border-radius: 6px;

                span {
                    font-family: sans-serif;
                    height: 12px;
                    font-size: 11px;
                    line-height: 100%;
                }
            }

            .tabulator-header {
                border-bottom: 2px solid var(--autoql-vanilla-table-border-color);

                .autoql-vanilla-filter-tag {
                    color: #2ecc40;
                }

                .autoql-vanilla-filter-tag {
                    border: 1px solid;
                    padding: 2px 4px !important;
                    border-radius: 4px;
                    font-weight: 400;
                    font-size: 10px;
                    margin-right: 5px !important;
                    vertical-align: top;
                    line-height: 21px;
                }

                .tabulator-header-filter input {
                    border: 1px solid var(--autoql-vanilla-border-color);
                    border-radius: 4px;
                    background: transparent;
                    padding: 4px 9px !important;
                    padding-right: 15px !important;
                    outline: none;
                    height: 25px;
                    font-size: 12px;
                    font-weight: normal;
                    color: var(--autoql-vanilla-text-color-primary);

                    &:focus {
                        border: 1px solid var(--autoql-vanilla-accent-color);
                        box-shadow: none;
                    }

                    &::-webkit-search-decoration,
                    &::-webkit-search-cancel-button,
                    &::-webkit-search-results-button,
                    &::-webkit-search-results-decoration {
                        -webkit-appearance: none;
                    }
                }
            }

            .tabulator-row {
                /* user-select: none; This breaks copy/paste */
                border-color: var(--autoql-vanilla-table-border-color);
                background-color: inherit !important;
                border-bottom: 1px solid var(--autoql-vanilla-table-border-color);
                z-index: 1;
                line-height: 1.2em;

                &:last-child {
                    border-bottom: none;
                    margin-bottom: 15px;
                }

                .tabulator-cell {
                    padding: 1px 8px;
                    font-size: 11px;

                    &:not(:first-child) {
                        border-color: var(--autoql-vanilla-table-border-color);
                    }
                }
            }

            .tabulator-header .tabulator-col {
                text-align: center;
                border-color: transparent;
                background-color: var(--autoql-vanilla-background-color-secondary) !important;
                font-size: 11px;
                min-height: 58px;

                .tabulator-col-title {
                    padding-left: 12px;
                    padding-right: 15px;

                    &:before {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        opacity: 0;

                        height: 8px;
                        width: 8px;

                        margin-right: 5px;
                        margin-left: -12px;
                        margin-bottom: 2px;

                        border-radius: 10px;
                        background: var(--autoql-vanilla-warning-color);
                        transition: opacity 0.3s ease;
                    }
                }

                .tabulator-col-content {
                    padding: 8px 5px;

                    .tabulator-col-sorter {
                        color: var(--autoql-vanilla-text-color-primary);
                    }

                    .tabulator-arrow {
                        color: currentColor;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        right: 4px;
                        top: calc(50% - 3px);
                    }
                }

                &.tabulator-sortable:hover {
                    background-color: var(--autoql-vanilla-hover-color);
                }

                &.tabulator-sortable[aria-sort='desc'] .tabulator-col-content .tabulator-arrow {
                    border-top: 4px solid currentColor !important;
                    opacity: 0.5;
                }

                &.tabulator-sortable[aria-sort='asc'] .tabulator-col-content .tabulator-arrow {
                    border-bottom: 4px solid currentColor !important;
                    opacity: 0.5;
                }

                &.tabulator-sortable[aria-sort='none'] .tabulator-col-content .tabulator-arrow {
                    border-bottom: 4px solid currentColor !important;
                    opacity: 0;
                }

                &:hover {
                    .tabulator-col-content .tabulator-arrow {
                        opacity: 0.5 !important;
                    }
                }
            }

            .tabulator-cell {
                border-color: var(--autoql-vanilla-table-border-color);
                background-color: var(--autoql-vanilla-background-color-secondary);
            }

            .tabulator-tableholder {
                background-color: inherit;
                position: relative;
            }
        }
    }

    .autoql-vanilla-chata-table-scrollbox {
        flex: 1;
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        visibility: visible;
    }
    .autoql-vanilla-chata-table-row-count {
        flex: 0 1;
        width: 100%;
        font-size: 13px;
        opacity: 0.6;
        text-align: center;
        padding-top: 3px;
    }
}

.autoql-vanilla-table-loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-color: transparent;
    color: var(--autoql-vanilla-accent-color);

    &.autoql-vanilla-table-loader-hidden {
        visibility: hidden;
    }

    &.autoql-vanilla-table-placeholder {
        color: var(--autoql-vanilla-text-color-primary);
        font-size: 12px;
        opacity: 0.5;
        top: 20px;
    }

    &.autoql-vanilla-table-scroll-loader {
        bottom: 0;
        right: 0;
        left: 0;
        pointer-events: none;

        .autoql-vanilla-spinner-loader {
            margin: 0;
            height: 17px;
            width: 17px;
        }
    }

    &.autoql-vanilla-table-page-loader {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        pointer-events: none;

        .autoql-vanilla-page-loader-spinner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: var(--autoql-vanilla-background-color-secondary);
            border: 1px solid var(--autoql-vanilla-border-color);
            box-shadow: var(--autoql-vanilla-box-shadow-1);
            border-radius: 4px;

            .autoql-vanilla-spinner-loader {
                margin: 0;
                height: 17px;
                width: 17px;
            }
        }
    }

    &.autoql-vanilla-table-scroll-loader {
        bottom: 20px;
        width: 100%;
        z-index: 0;
    }
}
