.autoql-vanilla-popover-selector {
    .autoql-vanilla-date-picker-hidden-input {
        position: absolute;
        visibility: hidden;
        height: 0px;
        width: 0px;
        margin: 0px;
        padding: 0px;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        border: none;
    }

    .autoql-vanilla-date-picker-container {
        .autoql-vanilla-date-picker-calendar-container {
            position: relative;
            overflow: visible;
        }
    }
}
