.chata-radio-btn-container {
    display: inline-block;
    border-radius: 4px;
}

.chata-radio-btn-container [type=radio]:checked+label:before, .chata-radio-btn-container [type=radio]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.chata-radio-btn-container [type=radio]:checked+label:after {
    opacity: 1;
    transform: scale(1);
    background: var(--chata-messenger-accent-color,#26a7df);
}

.chata-radio-btn-container [type=radio]:checked+label, .chata-radio-btn-container [type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

.chata-radio-btn-container [type=radio]:checked, .chata-radio-btn-container [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
}


.chata-radio-btn-container [type=radio]:checked+label:after,
.chata-radio-btn-container [type=radio]:not(:checked)+label:after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: all .2s ease;
}
