.autoql-vanilla-compose-message-section{
  display: flex;
  flex-wrap: wrap;
  .autoql-vanilla-form-section {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    .autoql-vanilla-notification-message-input { 
      flex: 1 1;
      margin-top: 10px;
    }
  }

  .autoql-vanilla-preview-section {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    flex: 1 1;
  }

}