.props-page{
    padding: 20px;
    text-align: center;
    height: auto;
    max-width: calc(100vw - 40px);
    min-width: 300px;
}

.props-page input {
    max-width: 200px;
}

.ant-form-item input {
    max-width: unset;
}

.ant-form-item {
    margin-bottom: 10px !important;
}
