.autoql-vanilla-notification-condition-statement {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 10px 20px;
  font-weight: 500;
  color: var(--autoql-vanilla-accent-color);
  .autoql-vanilla-data-alert-condition-statement-operator {
    text-decoration: underline;
  }
  .autoql-vanilla-data-alert-condition-statement-term {
    font-style: italic;
  }
}