.autoql-vanilla-condition-locking-input {
    padding: 5px 5px 5px 20px !important;
    margin: 8px !important;
    height: 32px;
    box-sizing: border-box !important;
    border-radius: 24px !important;
    font-size: 12px;
    letter-spacing: .04em;
    outline: none!important;
    width: calc(100% - 20px);
    border: 1px solid rgba(0,0,0,.1);
    border: 1px solid var(--autoql-vanilla-border-color,rgba(0,0,0,.1));
    background: var(--autoql-vanilla-background-color-primary);
    color: var(--autoql-vanilla-text-color-primary);
}

.autoql-vanilla-auto-complete-filter-locking{
    position: absolute !important;
    width: calc(100% - 30px) !important;
    bottom: unset !important;
    top: 47px;
    left: 10px;
    border-radius: unset !important;
    max-height: 200px;
    overflow-y: auto;
}

.autoql-vanilla-auto-complete-filter-locking li{
    padding: 5px 0px 5px 15px !important;
}
