.autoql-vanilla-selectable-table {
    padding-top: 0;
    overflow: auto; // TODO: CHANGE TO HIDDEN AFTER ADDING PS
}

.autoql-vanilla-data-preview-section {
    flex: 1.2;
    max-height: 80%;

    .autoql-vanilla-data-preview-error-message {
        white-space: initial;
        text-align: center;
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0 25px;
        font-style: italic;
        opacity: 0.7;
    }

    .autoql-vanilla-data-explorer-data-preview {
        overflow: hidden;
        min-height: 0;
        display: flex;
        flex-direction: column;

        // NEW - ADD THIS TO NEW FEATURE
        // .react-autoql-data-preview-selected-columns-selector {
        //     font-size: 11px;
        //     margin-left: 7px;
        //     color: var(--react-autoql-text-color-secondary);
        //     padding-left: 8px;
        //     border-left: 1px solid var(--react-autoql-backgroud-color-disabled);

        //     .react-autoql-select-and-label {
        //       padding-right: 0px;

        //       .react-autoql-multi-select {
        //         color: inherit;
        //         border-color: transparent !important;
        //         padding: 0px 5px;
        //         height: 25px;

        //         &:hover {
        //           color: var(--react-autoql-accent-color);
        //           background-color: var(--react-autoql-hover-color);
        //         }

        //         .react-autoql-select-arrow {
        //           svg {
        //             stroke: currentColor;
        //             stroke-width: 2em;
        //           }
        //         }
        //       }
        //     }
        //   }

        //   .react-autoql-data-preview-selected-columns-clear-btn {
        //     color: var(--react-autoql-text-color-placeholder);
        //     height: 25px;
        //     font-size: 11px;
        //     padding: 0px 6px;
        //     font-weight: 600;
        //     border-radius: 4px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     cursor: pointer;

        //     &:hover {
        //       color: var(--react-autoql-accent-color);
        //       background-color: var(--react-autoql-hover-color);
        //     }
        //   }
    }
}
