.autoql-vanilla-notification-data-container {
  display: flex;
  flex-direction: column;
  flex: 3 3;
  overflow: hidden;
  border-top: 1px solid var(--autoql-vanilla-background-color-primary);
  .autoql-vanilla-notification-chart-container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0;
    overflow: hidden;
    .autoql-vanilla-response-content-container {
      max-height: 300px!important;
      .autoql-vanilla-single-value-response-flex-container {
        padding: 10px 10px 20px;
        flex: 1 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .autoql-vanilla-single-value-response {
          font-size: 17px;
        }
      }
    }
  }
}