.autoql-vanilla-tile-toolbar.actions-toolbar {
    right: 5px !important;
    left: unset !important;
}

.autoql-vanilla-chata-dashboard-item:hover .actions-toolbar,
.autoql-vanilla-drilldown-modal .actions-toolbar {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.autoql-vanilla-dashboard-action-toolbar-popover {
    padding: 10px 0;
}
