.autoql-vanilla-dashboard-tile-placeholder-text {
    color: var(--autoql-vanilla-text-color-placeholder);
    font-size: 15px;
    font-family: var(--autoql-vanilla-font-family), sans-serif;

}

.autoql-vanilla-tile-view{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 25px;
}

.autoql-vanilla-tile-response-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.autoql-vanilla-tile-view line {
    stroke-width: 1px;
    stroke: currentColor;
    opacity: 0.15;
    shape-rendering: crispedges;
}

.autoql-vanilla-tile-view text {
    fill: currentcolor;
    fill-opacity: 0.7;
    font-family: inherit;
}

.autoql-vanilla-tile-chart-container{
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    color: var(--autoql-vanilla-text-color-primary);
}

.autoql-vanilla-single-value-response{
    font-size: 32px;
    margin-top: -6px;
    opacity: .9;
    color: var(--autoql-vanilla-text-color-primary);

}

.gutter {
    height: 1px !important;
    background: var(--autoql-vanilla-border-color);
    opacity: .9;
    pointer-events: none;

}
.gutter.gutter-vertical {
    cursor: row-resize;
    pointer-events: none;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.autoql-vanilla-chata-dashboard-item.editing .autoql-vanilla-dashboard-tile-response-wrapper .gutter{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    border-top: 3px solid #C0C0C0;
    pointer-events: all;
}
