.autoql-vanilla-conditions-step-container {
    .autoql-vanilla-condition-type-container {
        margin-bottom: 10px;
    }

    .autoql-vanilla-data-alert-rule-query-readonly-container {
        .autoql-vanilla-input-and-label-container {
            padding: 0;

            .autoql-vanilla-input {
                height: 40px;
            }
        }
    }
}
