.autoql-vanilla-dashboard-drilldown-original{
    height: 47vh;
    min-height: 35%;
    padding-bottom: 10px;
    position: relative;
}

.autoql-vanilla-dashboard-drilldown-table {
    flex: 1 1;
    height: 30vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chata-modal-body .gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    border-top: 3px solid #C0C0C0;
    pointer-events: all !important;
    margin-bottom: 10px;
}

.autoql-vanilla-dashboard-drilldown-table{

}
