.autoql-vanilla-modal-full-size {
    width: 95vw;
    height: 100%;

    .autoql-vanilla-divider-horizontal {
        flex: 0 0 0;
        opacity: 0.3;
        margin: 30px 5px;
        margin-bottom: 20px;
        padding: 0 10px;
        border-top: 1px solid var(--autoql-vanilla-border-color);
    }

    .autoql-vanilla-data-alert-setting-section-title {
        margin: 5px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .autoql-vanilla-conditions-step-container,
    .autoql-vanilla-data-alert-modal-step {
        margin-bottom: 10px;
    }

    .autoql-vanilla-modal-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .autoql-vanilla-chata-btn {
            .autoql-vanilla-btn-text-wrapper {
                margin-left: 5px;
            }
        }
    }

    .autoql-vanilla-data-alert-settings-modal-content {
        padding: 20px 70px;
    }
}
