span.autoql-vanilla-icon, span.autoql-vanilla-icon svg {
    vertical-align: unset;
    text-align: left;
    padding: 0;
    float: none!important;
    color: inherit;
    opacity: 1;
}
span.autoql-vanilla-icon {
    margin: 0;
}

span.autoql-vanilla-icon svg {
    height: 1em;
    margin: 0 0 -.1em;
}

.ant-menu-item.ant-menu-item-selected span svg{
    fill: #1890ff;
}
